app/part1/app/data/streamData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element type="xs:string" name="show_id"/>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Movie"/>
            <xs:enumeration value="TV Show"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="director"/>
      <xs:element type="xs:string" name="cast"/>
      <xs:element type="xs:string" name="country"/>
      <xs:element type="xs:string" name="date_added"/>
      <xs:element type="xs:string" name="release_year"/>
      <xs:element type="xs:string" name="rating"/>
      <xs:element type="xs:string" name="duration"/>
      <xs:element type="xs:string" name="listed_in"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="watched"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>